@font-face {
  font-family: "PlayfairDisplay";
  src: url(font/PlayfairDisplay.ttf);
}
@font-face {
  font-family: "Alice-Regular";
  src: url(font/Alice-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #0e0c12;
  font-family: "Alice-Regular";
}
#formulario-contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

form {
  width: 450px;

  padding: 10px 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
textarea {
  width: 100%;
  height: 37px;
  margin-bottom: 30px;
  padding: 7px;
  border: none;
}
input {
  border-radius: 50px;
}

textarea {
  min-height: 85px;
  max-height: 200px;
  max-width: 100%;
  border-radius: 20px;
}
.genero {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  color: white;
}
.punto {
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
}
.punto > input {
  margin: 0px 5px 0 5px;
}
select {
  width: 100%;
  margin-bottom: 30px;
  height: 27px;
  padding: 7px;
  border: none;
  border-radius: 50px;
}

.contenido__check {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 30px;
  color: white;
}
.check {
  width: 15px;
  height: 15px;
  margin-bottom: 0;
  padding: 7px;
  border: none;
  margin: 0 10px 0 0;
}
#enviar {
  width: 100%;
}
.presiona {
  padding: 10px 13px;
  /* background: radial-gradient(38deg circle, rgb(223, 15, 71) rgb(212, 50, 22)); */
  background: radial-gradient(
    circle,
    rgba(223, 15, 71, 1) 0%,
    rgba(212, 50, 22, 1) 100%
  );
  color: white;
  border-radius: 10px;
  text-decoration: none;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.presiona:hover {
  background: radial-gradient(
    circle,
    rgb(192, 27, 71) 0%,
    rgb(170, 45, 23) 100%
  );
  animation: miAnimacion 0.3s alternate;
  animation-fill-mode: forwards;
}
@keyframes miAnimacion {
  to {
    transform: scale(0.9);
  }
}

.consulta,
.logo img {
  font-size: 33px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  animation: inicio 0.3s 6 alternate;
  font-family: "Nunito-Bold";
  margin-top: 145px;
  font-family: "PlayfairDisplay";
}
.logo img {
  width: 100px;
  margin-bottom: 15px;
  margin-top: 0px;
}
@keyframes inicio {
  to {
    transform: scale(0.9);
  }
}
@media (min-width: 650px) {
  .punto {
    width: 280px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .punto > input {
    margin: 0px 15px 0 15px;
  }
  .consulta {
    font-size: 4vw;
  }
}
